# change the name of this file to .env
# and fill in the values for the variables below
# with your own values
NEXT_PUBLIC_CANDY_MACHINE_ID=Lz9HqVS1C5djbA32dgCuiQza3DQWVhwxg6XL8dTR42L
NEXT_PUBLIC_RPC_ENDPOINT=https://api.devnet.solana.com